.buttonpadding
{
  margin-left: 50px;
}
input{
  font-size: xx-large;
  border-radius: 10px;
  outline: none;
}
button
{
  font-size: xx-large;
  border-radius: 10px;
  outline: none;
}
.error
{
  color: red;
}